.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  max-width: 100px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  height: 48px;

  &.uppercase {
    text-transform: uppercase;
  }

  &.opacity {
    background-color: transparent;
    color: #333333;

    &:hover {
      border: 1px solid #333333;
    }
  }

  &:hover {
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333;
  }
}
