.button-container {
  background-color: #333333;
  max-width: 100px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;

  &.uppercase {
    text-transform: uppercase;
  }
}
