.wrapper-card-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 90px;
  margin-top: 200px;

  .products-items-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
  }

  .container-filters {
    display: flex;
    flex-direction: column;
    width: 68%;

    .filter-by-category {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
    }

    .filter-views {
      margin: 25px 0;

      .view {
        justify-content: start;
        width: 80%;
        display: flex;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        color: #a9a9a9;
        gap: 20px;

        .view-items {
          display: flex;
          gap: 4px;

          .item {
            color: black;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1250px) {
    .products-items-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 925px) {
    .products-items-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 670px) {
    .products-items-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.empty-data {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
