.card-conteiner {
  width: 255px;
  box-shadow: #777777;

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      color: #777777;
    }

    p {
      font-weight: 600;
    }
  }
}
